---
layout: default
---
  <div class="page">
    <header class="page-header">
      <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}Untitled{% endif %}</h1>
    </header>


    <div class="page-content">
      {{ content }}

      <form method="post" enctype="multipart/form-data" id="create-post-form">

        <div class="input-title">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title">
        </div>

        <div class="input-author">
          <label for="author">Author:</label>
          <input type="text" id="author" name="author">
        </div>

        <div class="input-themes">
          <label for="key-theme-label">Key Themes:</label>
          <div class="d-flex align-items-center">
            <input type="text" class="key-theme" id="key-theme" name="key-theme">
            <button type="button" class="btn btn-primary" id="add-key-theme-btn" onclick="addKeyThemeInput()" >Add Key Theme</button>
          </div>
          </div>

        <div class="input-cover">
          <label for="cover">Cover image:</label>
          <input type="file" id="cover" name="cover" accept="image/*">
        </div>

        <div class="input-date">
          <label for="title">Date:</label>
          <input type="date" id="date" name="date">
        </div>


        <div class="input-doc">
          <label for="doc">Document:</label>
          <input type="file" id="doc" name="doc" accept=".docx"  onchange="openFile(event)">
        </div>

        <div class="input-translation">
          <label for="trans">Link-to Translation:</label>
          <input type="text" id="translation" name="translation">
        </div>

        <div class="input-transcription">
          <label for="transc">Link-to Transcription:</label>
          <input type="text" id="transcription" name="transcription">
        </div>

        <div class="input-original">
          <label for="org">Link-to Original Text:</label>
          <input type="text" id="original" name="original">
        </div>

        <textarea hidden id="output" name="output" rows="8" cols="80"></textarea>

        <input type="submit"  class="submit-btn" id="create-post-btn" value="Create post" onclick="createMarkdownFile()">

      </form>
    </div>
  </div>

  <!-- these are required for openFile(event) -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.1.9/docxtemplater.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.js"></script>

<script>
  function createMarkdownFile() {
  // Get input values
  const title = document.getElementById('title').value;
  const author = document.getElementById('author').value;
  const ktlist = Array.from(document.getElementsByClassName('key-theme')).map(input => input.value);
  const keyThemes = '[' + ktlist.join(', ') + ']';
  const coverFile = document.getElementById('cover').files[0];
  const date = fixDate(document.getElementById('date').value);
  const documentFile = document.getElementById('doc').files[0];
  const translation = document.getElementById('translation').value;
  const transcription = document.getElementById('transcription').value;
  const original = document.getElementById('original').value;
  // Create Markdown content
  let markdownContent = `---\nlayout: posts\ntitle: "${title}"\n`;
  markdownContent += `date: ${date} 01:00:00 -0600 \n`;
  markdownContent += `categories: ${keyThemes}\n`;
  if (coverFile) {   // Create a File object for cover image
    markdownContent += `image_url: ${coverFile.name}\n`;
  }
  markdownContent += `translation: ${translation} \n`;
  markdownContent += `transcription: ${transcription}\n`;
  markdownContent += `original: ${original}\n\n---`;
  markdownContent += `author/researcher: ${author}\n\n`;

  // see the openFile(event) function at bottom for turning word doc to string
    if (documentFile) {
      const output = document.getElementById('output').innerText;
      markdownContent += `${output}\n`;
    }
    // Create a Markdown file without document content
    const blob = new Blob([markdownContent], { type: 'text/plain' });
    // Create a temporary anchor element to trigger the file download
    const anchor = document.createElement('a');
    anchor.download = `${date}-${title}.md`;
    anchor.href = URL.createObjectURL(blob);
    anchor.target = '_blank'; // Open the download in a new tab
    anchor.click();
    // Clean up the temporary anchor element
    URL.revokeObjectURL(anchor.href);
}

function fixDate(inputDate) {
  const date = new Date(inputDate);
  const year = date.getFullYear();
  const month = String(date.getMonth() + 1).padStart(2, '0');
  const day = String(date.getDate()).padStart(2, '0');
  return `${year}-${month}-${day}`;
}

function addKeyThemeInput() {
  const keyThemeInput = document.createElement('input');
  keyThemeInput.type = 'text';
  keyThemeInput.className = 'key-theme';
  keyThemeInput.name = 'key-theme';
  const addKeyThemeBtn = document.getElementById('add-key-theme-btn');
  addKeyThemeBtn.parentNode.insertBefore(keyThemeInput, addKeyThemeBtn);
}
</script>

<script>
var openFile = function(event) {
var input = event.target;
var reader = new FileReader();
reader.onload = function() {
  var zip = new JSZip(reader.result);
  var doc = new window.docxtemplater().loadZip(zip);
  var text = doc.getFullText();
  var node = document.getElementById('output');
  node.innerText = text;
};
reader.readAsBinaryString(input.files[0]);
};
</script>
