---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}


  <!-- Josh is testing with tooltips here !-->


  <div class="tooltip" data-direction="bottom">
  <div class="tooltip__initiator">
    <!-- element with tooltip hover call -->
    <i class="fa fa-info-circle"></i>
  </div>
  <div class="tooltip__item">
    Hooray! The tooltip is working!
  </div>
</div>

  <a class="tooltipimg" href="">
   Demonstration
   <span><img src="https://themediaevalmonk.files.wordpress.com/2020/10/stowe-ms-17-f.8r-a-happy-little-snail-person.jpg">
   </span>
</a>



    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-item">
              <div class="img-div">
                <img class="post-img" src="{{ post.image_url}}"; height="100px"; width="100px;" >
              </div>

              <div class="post-content">
                <!-- posts are automatically loaded by date_format -->
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                <span class="post-excerpt"> {{ post.content | strip_html | truncatewords: 50 }} </span>
                <!-- Don't Ask me why, but this whole loop needs to be on one line like this -->
                <span class="cat"> Key Themes : {% for category in post.categories %}{% if forloop.first %}{% else %}, {% endif %}<a>{{category | escape}}</a>{% endfor %}</span>
              </div>
            </li>

      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
