---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}


  <!-- Josh is testing with tooltips here !-->

  <p>I'm messing with tooltips here: <a href="#" data-toggle="tooltip" title="Hooray! The tooltip is working!">Hover over me</a></p>



    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li class="post-item">
              <div class="img-div">
                <img class="post-img" src="{{ post.image_url}}"; height="100px"; width="100px;" >
              </div>

              <div class="post-content">
                <!-- posts are automatically loaded by date_format -->
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <span class="post-meta">{{ post.date | date: date_format }}</span>

                <h3>
                  <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                  </a>
                </h3>
                <span class="post-excerpt"> {{ post.content | strip_html | truncatewords: 50 }} </span>
                <!-- Don't Ask me why, but this whole loop needs to be on one line like this -->
                <span class="cat"> Key Themes : {% for category in post.categories %}{% if forloop.first %}{% else %}, {% endif %}<a>{{category | escape}}</a>{% endfor %}</span>
              </div>
            </li>

      {%- endfor -%}
    </ul>

    <!-- <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p> -->
  {%- endif -%}

</div>
