---
layout: default
---
  <div class="page">
    <header class="page-header">
      <h1 class="page-title">{% if page.title %}{{ page.title }}{% else %}Untitled{% endif %}</h1>
    </header>

    <div class="page-content">
      {{ content }}
      <form method="post" enctype="multipart/form-data" id="create-post-form">
        <div class="input-doc">
          <label for="doc">Document:</label>
          <input type="file" id="doc" name="doc" accept=".docx" onchange="openFile(event)">
        </div>

        <div class="input-author">
          <label for="author">Author:</label>
          <input type="text" id="author" name="author">
        </div>

        <div class="input-title">
          <label for="title">Title:</label>
          <input type="text" id="title" name="title">
        </div>

        <!-- <div class="input-key-themes">
          <label for="key-themes">Key Themes:</label>
          <div id="key-themes-container">
            <input type="text" name="key-themes[]" class="key-theme-input">
          </div>
          <button type="button" id="add-key-theme">Add Key Theme</button>
        </div> -->

        <div class="form-group">
        <div class="key-themes-container">
          <label for="key-theme-input">Key Themes:</label>
          <div class="d-flex align-items-center">
            <input type="text" class="form-control mr-3" id="key-theme-input" name="key-theme">
            <button type="button" class="btn btn-primary" id="add-key-theme-btn">Add Key Theme</button>
          </div>
          </div>
        </div>

        <div class="input-desc">
          <label for="desc">Description:</label>
          <textarea id="desc" name="desc"></textarea>
        </div>

        <div class="input-cover">
          <label for="cover">Cover image:</label>
          <input type="file" id="cover" name="cover" accept="image/*">
        </div>

        <div class="input-date">
          <label for="month">Month:</label>
          <select id="month" name="month">
            <option value="">-- Select Month --</option>
            <option value="1">January</option>
            <option value="2">February</option>
            <option value="3">March</option>
            <option value="4">April</option>
            <option value="5">May</option>
            <option value="6">June</option>
            <option value="7">July</option>
            <option value="8">August</option>
            <option value="9">September</option>
            <option value="10">October</option>
            <option value="11">November</option>
            <option value="12">December</option>
          </select>
          <label for="day">Day:</label>
          <select id="day" name="day">
            <option value="">-- Select Day --</option>
            {% for day in (1..31) %}
              <option value="{{ day }}">{{ day }}</option>
            {% endfor %}
          </select>
          <label for="year">Year:</label>
          <select id="year" name="year">
            <option value="">-- Select Year --</option>
            {% for year in (2023..2033) %}
              <option value="{{ year }}">{{ year }}</option>
            {% endfor %}
          </select>
        </div>

        <input type="submit"  class="btn create-post-btn" id="create-post-btn" value="Create post">

      </form>
    </div>
  </div>
  <textarea class="form-control" rows=35 cols=120 id="output"></textarea>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/docxtemplater/3.1.9/docxtemplater.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.6.1/jszip.js"></script>

  <script>
    var openFile = function(event) {
    var input = event.target;
    var reader = new FileReader();
    reader.onload = function() {
      var zip = new JSZip(reader.result);
      var doc = new window.docxtemplater().loadZip(zip);
      var text = doc.getFullText();
      var node = document.getElementById('output');
      node.innerText = text;
    };
    reader.readAsBinaryString(input.files[0]);
  };
  </script>
