---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}
      <!-- No need to show post's date of creation. -Josh
      <p class="post-meta">---
        <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}{{ page.date | date: date_format }}
        </time>{%- if page.author -%}  •
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name">{{ page.author }}
        </span>
      </span>
      {%- endif -%}
      </p>
      -->
      </h1>
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}

  </div>

  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
<footer class="site-footer">
    <!-- <data class="u-url" href="{{ "/" | relative_url }}"></data> -->
    <div class="wrapper">
      <div class="footer-col footer-col-1">
            <ul class="contact-list">

              <li><a class="link"  target="_blank" href="{{ page.translation }}"> Translation, </a></li>
              <li><a class="link"  target="_blank" href="{{ page.transcription }}"> Transcription, </a></li>
              <li><a class="link"  target="_blank" href="{{ page.original }}"> Original </a></li>

            </ul>
      </div>
    </div>
</footer>

<!-- script for the min and max button  -->
<script>
  function toggleFooter(){
    const footer = document.querySelector('footer');
    const smallButton = document.querySelector('#small-button');
    if (footer.style.display === 'none'){
      footer.style.display = 'block';
      smallButton.style.display = 'none';
    } else{
      footer.style.display = 'none';
      smallButton.style.display = 'block';
    }
  }
  const minimizeButton = document.createElement('button');
  minimizeButton.innerText = '-';
  minimizeButton.style.position = 'absolute';
  minimizeButton.style.top = '0';
  minimizeButton.style.right = '-10';
  minimizeButton.onclick = toggleFooter
  minimizeButton.style.margin = '10px';;
  document.querySelector('footer').appendChild(minimizeButton);

  const smallButton = document.createElement('button');
  smallButton.innerText = '□';
  smallButton.id = 'small-button';
  smallButton.style.position = 'fixed';
  smallButton.style.bottom = '0';
  smallButton.style.left = '0';
  smallButton.onclick = toggleFooter;
  smallButton.style.margin = '10px';
  smallButton.style.display = 'none';
  document.body.appendChild(smallButton);
</script>
